/data/output
/data/backup
/data/*.json
/data/*.env
db.json
domains.csv
.env

logs
*.log
/.sass-cache

# virtualenv
.Python
.python-version
bin
include
lib

/deploy/node_modules

# Mac specific
.DS_Store

__pycache__/
*.py[cod]
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

todo.txt

build/
!build/.keep

deploy.sh
docker-scan
main.css.map
