<footer role="contentinfo">
	<div class="wrapper">
    Entstanden am <a href="http://de.opendataday.org/">OpenDataDay 2016</a>. Domains aus dem <a href="https://github.com/robbi5/german-gov-domains">german-gov-domains</a>-Datensatz.
    <br/>
    Diese Seite ist <a href="https://github.com/robbi5/pulse">Open Source</a> und basiert auf <a href="https://pulse.cio.gov">the pulse of the federal .gov webspace</a> von <a href="https://18f.gsa.gov">18F</a>/<a href="http://gsa.gov">General Services Administration</a>. Danke!
	</div>
</footer>
