<header class="site-header">
    <nav>
        <div id="main-nav">
            <h1 id="branding">
                <a href="{{ url_for('index') }}">{{ site.name }}</a>
            </h1>
            <ul id="right-nav">
                <li>
                    <a href="{{ url_for('https_domains', domain_type='federal') }}">Behörden</a>
                </li>
                <li>
                    <a href="{{ url_for('https_domains', domain_type='city') }}">Kommunen</a>
                </li>
                <li>
                    <a href="{{ url_for('about') }}">Über diese Seite</a>
                </li>
            </ul>
            <a href="#" id="menu-btn">MENÜ</a>
        </div>

    </nav>

    <nav id="menu-content">
      <ul>
        <li><a href="{{ url_for('index') }}">{{ site.name }}</a></li>
        <li>
            <a href="{{ url_for('https_domains', domain_type='federal') }}">Behörden</a>
        </li>
        <li>
            <a href="{{ url_for('https_domains', domain_type='city') }}">Kommunen</a>
        </li>
        <li>
            <a href="{{ url_for('about') }}">Über diese Seite</a>
        </li>
    </ul>
    </nav>

    <div class="overlay"></div>

</header>

