{% extends "layout.html" %}

{% block page_id %}https{% endblock %}
{% block title %}HTTPS in the federal government - All domains{% endblock %}
{% block description %}How federal government domains are doing at deploying HTTPS.{% endblock %}

{% block content %}

{% include 'includes/https/header.html' %}

<section id="main-content" class="white-bkg">
  <nav class="tab-menu">
    <span class="tab">Nach Domain</span>
    <a href="{{ url_for('https_agencies') }}" class="tab">Nach Behörde</a>
    <a href="{{ url_for('https_guide') }}" class="tab">Info</a>
  </nav>
  <div class="wrapper">
    <table class="domain responsive https">
        <thead>
          <tr>
            <th class="all">Domain</th>
            <th class="never">Canonical</th>
            <th class="never">Behörde</th>
            <th class="min-tablet">Bietet HTTPS</th>
            <th class="min-tablet">Erzwingt HTTPS</th>
            <th class="min-tablet-l">Strict Transport Security (HSTS)</th>
            <th class="min-tablet-l">SSL Labs Grade</th>
            <th class="none" scope="col">Details</th>
            <th class="none">TLS Issues</th>
          </tr>
        </thead>
    </table>
  </div>
</section>

<script src="{{ url_for('static', filename='js/https/domains.js') }}?{{ now() | date("%Y%m%j%H%M%S") }}"
        data-domain-report-url="{{ url_for('domain_report', report_name='https', ext='json') }}"
        data-domain-report-csv-url="{{ url_for('domain_report', report_name='https', ext='csv') }}"></script>

{% endblock %}
