{% extends "layout.html" %}

{% block page_id %}https{% endblock %}
{% block title %}HTTPS bei {{ domain_type | domain_type_label('plural') }}webseiten - Alle Domains{% endblock %}
{% block description %}Zeigt, wie viele {{ domain_type | domain_type_label('plural') }}webseiten über HTTPS erreichbar sind.{% endblock %}

{% block content %}

{% include 'includes/https/header.html' %}

<section id="main-content" class="white-bkg">

  <nav class="tab-menu" role="tablist">
    <span class="tab" role="tab" aria-controls="tab-panel" aria-selected="true">Nach Domain</span>
    <a href="{{ url_for('https_agencies', domain_type=domain_type) }}" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">Nach {{ domain_type | domain_type_label }}</a>
    <a href="{{ url_for('https_guide', domain_type=domain_type) }}" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">Info</a>
  </nav>

  <div id="tab-panel" class="wrapper" role="tabpanel" aria-hidden="false">
    <table class="domain responsive https">
      <caption>Secure HTTP(S) By Domain. Table is sortable via first row table headers. Each row contains a domain and related attributes.</caption>
      <thead>
          <tr>
            <th class="all">Domain</th>
            <th class="never">Canonical</th>
            <th class="none">{{ domain_type | domain_type_label }}:</th>
            <th class="min-tablet">Bietet HTTPS</th>
            <th class="min-tablet">Erzwingt HTTPS</th>
            <th class="min-tablet-l">Strict Transport Security (HSTS)</th>
            <th class="min-tablet-l">Preloaded (empfohlen)</th>
            <!--<th class="none">SSL Labs Grade</th>-->
            <th class="none" scope="col"></th>
            <th class="none" scope="col"></th>
          </tr>
        </thead>
    </table>
  </div>

</section>

<script src="{{ url_for('static', filename='js/https/domains.js') }}?{{ now() | date("%Y%m%j%H%M%S") }}"
        data-domain-report-url="{{ url_for('domain_report', report_name=report_name, ext='json') }}"
        data-domain-report-csv-url="{{ url_for('domain_report', report_name=report_name, ext='csv') }}"></script>

{% endblock %}
