{% extends "layout.html" %}

{% block page_id %}https{% endblock %}
{% block title %}HTTPS bei {{ domain_type | domain_type_label('plural') }}webseiten - Info{% endblock %}
{% block description %}Zeigt, wie viele {{ domain_type | domain_type_label('plural') }}webseiten über HTTPS erreichbar sind.{% endblock %}

{% block content %}

{% include 'includes/https/header.html' %}

<section id="main-content" class="white-bkg">

  <nav class="tab-menu" role="tablist">
    <a href="{{ url_for('https_domains', domain_type=domain_type) }}" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">Nach Domain</a>
    <a href="{{ url_for('https_agencies', domain_type=domain_type) }}" class="tab" role="tab" aria-controls="tab-panel" aria-selected="false">Nach {{ domain_type | domain_type_label }}</a>
    <span class="tab" role="tab" aria-controls="tab-panel" aria-selected="true">Info</span>
  </nav>

  <div id="tab-panel" class="wrapper" role="tabpanel" aria-hidden="false">

    <div class="guide">

      <h3>Was bedeuten die Daten an den Domains? Warum braucht man HTTPS? Diese und weitere Fragen werden auch in der <a href="{{ url_for('about') }}">FAQ</a> beantwortet.</h3>

      <article>

        <h3>Welche Domains werden überprüft?</h3>

        <p>
          Aktuell werden Domains aus dem <a href="https://github.com/robbi5/german-gov-domains">german-gov-domains</a>-Datensatz, verwendet. Woher diese genau stammen, steht auf der <a href="https://github.com/robbi5/german-gov-domains">Projektseite</a>.
        </p>

        <p>
          Es werden die vier "Endpunkte" jeder Domain überprüft: <code>http://</code>, <code>http://www.</code>, <code>https://</code> und <code>https://www.</code>
        </p>

        <p>
          Es werden auch Domains überprüft, die nur auf eine andere Domain weiterleiten.
        </p>

        <p>
          Diese Überprüfungen erfolgen mit Hilfe von <a href="https://github.com/dhs-ncats/pshtt">Open Source</a> <a href="https://github.com/18F/domain-scan">Tools</a>.
        </p>

      </article>

      <article>

        <h3>Felder</h3>

        <ul>
          <li><strong>Bietet HTTPS</strong></li>
          <li><strong>Möglichkeiten:</strong> Nein, Ja</li>
          <li>
            Ob eine Webseite mit HTTPS benutzt werden kann, entweder direkt auf der Domain oder der <code>www</code>-Subdomain.<br/>
            Seiten, die von HTTPS auf HTTP umleiten zählen als unsicher und bekommen ein Nein.</li>
        </ul>

        <ul>
          <li><strong>Erzwingt HTTPS</strong></li>
          <li><strong>Möglichkeiten:</strong> Nein, Ja</li>
          <li>Ob eine Webseite standardmäßig HTTPS bietet. Dies kann passieren, indem HTTP auf HTTPS umleitet oder sogar nur über HTTPS verfügbar gemacht wird.</li>
        </ul>

        <ul>
          <li><strong>Strict Transport Security (HSTS)</strong></li>
          <li><strong>Möglichkeiten:</strong> Nein, Ja</li>
          <li>Ob eine Domain <a href="https://https.cio.gov/hsts/">HTTP Strict Transport Security</a> implementiert. Dies bedeutet, dass <a href="http://caniuse.com/#search=hsts">unterstütze Browser</a> nur noch über HTTPS mit einer Domain kommunizieren, selbst wenn man auf einen HTTP-Link klickt.</li>
          <li>"Ja" bedeutet, dass ein <code>Strict-Transport-Security</code>-Header ausgeliefert wird.</li>
        </ul>

        <ul>
          <li><strong>Preloaded (empfohlen)</strong></li>
          <li><strong>Möglichkeiten:</strong> Nein, Vorbereitet, Ja</li>
          <li><em>Vorbereitet</em> bedeutet, dass auf dieser Domain ein HSTS-Header ausgeliefert wird, der für alle Subdomains gilt und für <a href="https://hstspreload.appspot.com">preloading</a> markiert ist. Damit kann nun eine Eintragung in die Browserlisten beantragt werden.</li>
          <li><em>Ja</em> bedeutet, dass diese Domain vorbereitet ist (siehe oben) <strong>und</strong> bereits in der öffentlich verfügbaren <a href="https://chromium.googlesource.com/chromium/src/+/master/net/http/transport_security_state_static.json">Chrome preload Liste</a> eingetragen ist.
          </li>
        </ul>

      </article>

    </div>

  </div>

</section>

{% endblock %}
